<div>
  @if (showEnterCodeState()) {
  <span>code</span>
  } @else {

  <form class="flex flex-col gap-y-6" [formGroup]="telegramLoginForm" (ngSubmit)="handleSendCode()">
    <app-input
      formControlName="phoneNumber"
      name="phoneNumber"
      type="number"
      label="Phone number"
      placeholder="Enter your phone number"
      ghostText="Enter your full phone number in international format (country code + number)"
      [errorMesaage]="phoneNumberErrorMessage()"
      [invalid]="!!phoneNumberErrorMessage()"
    />

    <p-button [loading]="isSendingCode()" type="submit" [style]="{ width: '100%' }">Send code</p-button>
  </form>
  }
</div>
